mixin children(title, items, link, add, empty)
  div(class="panel panel-primary")
    .panel-heading
      h4.panel-title= title
    div
      div(class="well well-sm")
        | {% if items.pages %}
        ul(class="pagination pagination-sm", style="display:inherit;")
          li(class="{% if not items.has_prev %}disabled{% endif %}")
            a(href="?page={{ items.prev_num }}")
              span(class="glyphicon glyphicon-menu-left")
          | {%- for page in items.iter_pages() %}
          | {% if page %}
          li(class="{% if page == items.page %}active{% endif %}")
            a(href="?page={{ page }}") {{ page }}
          | {% else %}
          li
            span(class=ellipsis) …
          | {% endif %}
          | {%- endfor %}
          li(class="{% if not items.has_next %}disabled{% endif %}")
            a(href="?page={{ items.next_num }}")
              span(class="glyphicon glyphicon-menu-right")
        | {% endif %}
        | &nbsp;
        a(href=add, class="btn btn-sm btn-primary", data-toggle="tooltip", title="Добавить") <i class="fa fa-plus"></i>

        .pull-right
          strong Количество: 
          | {{ items.total }}
      | {% if items.items %}
      .table-responsive
        table(class="table table-bordered table-hover")
          tbody
            | {% for i in items.items %}
            tr
              td 
                a(href=link) {{ i }}  
            | {% endfor %}
      | {% else %}
      strong= empty
      | {% endif %}

